$white: #f7f7f7;
$background: #21263f;
$primary: #bc2e2e;
$accent: #ffeaea;
$light: #f6ede9;
$background-light: #fafafa;

$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #d2d2d2;
$gray-6: #f2f2f2;

$primary-scroll-background: #942424;
$primary-scroll-foreground: #d34a4a;

$accent-scroll-background: $light;
$accent-scroll-foreground: $accent;
