.wrapper {
  height: calc(100vh - 2rem);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  img {
    cursor: pointer;
    margin: 0.75rem 0;
    object-fit: cover;
    width: 50%;
    border-radius: 50%;
    filter: drop-shadow(0px 0.375rem 0.375rem rgba(0, 0, 0, 0.25))
      grayscale(0.5);

    &:hover {
      filter: drop-shadow(0px 0.375rem 0.375rem rgba(0, 0, 0, 0.5))
        saturate(200%);
    }

    &.active {
      filter: drop-shadow(0px 0.25rem 0.25rem rgba(0, 0, 0, 0.1));
    }
  }
}
