<a [href]="url" target="_blank" rel="noopener noreferrer" class="card">
  <div class="card-image">
    <span>
      {{ title[0] }}
    </span>
  </div>
  <div class="details">
    <div class="header">
      <div class="titles">
        <div class="title">
          {{ title }}
        </div>
        <div class="subtitle">
          {{ subtitle }}
        </div>
      </div>
      <img src="assets/icons/link.png" alt="link" />
    </div>
    <div class="description">
      {{ description }}
    </div>
  </div>
</a>
