<div class="wrapper">
  <div class="search-and-filter">
    <div class="search">
      <div class="search-icon">
        <img src="assets/icons/search.png" alt="search" />
      </div>
      <input type="text" [formControl]="searchField" placeholder="Search" />
    </div>
    <button type="button">
      <img src="assets/icons/filter.png" alt="filter" />
    </button>
  </div>
  <div class="cards">
    <app-accessibility-card
      *ngFor="let card of accessibilities"
      [title]="card.name"
      [description]="card.description"
      [active]="activeCard"
      [image]="'https://designwithpersonify.com/f/nodes/' + card.name + '.png'"
      (click)="this.activeCard = card.name"
    ></app-accessibility-card>
  </div>
</div>
