@import "../../assets/partials/variables";

.wrapper {
  background-color: $white;
  padding-top: 0.75rem;
  padding-left: 0.5rem;
}

.two-rem-size {
  width: 1.75rem;
  height: 1.75rem;
}

.search-and-filter {
  padding: 0 1rem 1rem 0;

  .search {
    cursor: text;
    display: flex;
    padding: 0.75rem;
    background-color: $gray-6;
    margin-right: 0.25rem;
    border-radius: 0.75rem;
    margin-right: 0.25rem;
    align-items: center;

    .search-icon {
      cursor: pointer;
      img {
        @extend .two-rem-size;
      }
      margin-right: 0.75rem;
    }

    .ng-select {
      cursor: text;
      width: 100%;
    }
  }

  button {
    @extend .two-rem-size;
    background-color: $gray-6;
    border-radius: 0.75rem;

    padding: 1.85rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.25rem;
    }
  }
}

.cards {
  padding: 0.625rem 1.5rem 1.625rem 0.25rem;
  max-height: 90vh;
  overflow-y: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
