<div class="wrapper">
  <div class="search-and-filter">
    <div class="search">
      <div class="search-icon">
        <img src="assets/icons/search.png" alt="search" />
      </div>
      <ng-select
        class="select"
        [items]="searchData | async"
        bindLabel="label"
        bindValue="label"
        groupBy="data"
        appearance="outline"
        (change)="nodeSelected($event)"
      >
        <ng-template ng-optgroup-tmp let-item="item">
          <span class="group">
            {{ item.label }}
          </span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="item">
            {{ item.label }}
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="cards">
    <app-accessibility-card
      *ngFor="let card of accessibilities"
      [title]="card.name"
      [description]="card.description"
      [active]="activeCard"
      [image]="'https://designwithpersonify.com/f/nodes/' + card.name + '.png'"
      (click)="cardSelected(card.name)"
    ></app-accessibility-card>
  </div>
</div>
