<div class="wrapper">
  <div class="header">
    <div class="title">{{ persona.name }} - {{ persona.profession }}</div>
    <img src="assets/icons/download.png" alt="download" />
  </div>
  <img src="{{ persona.image }}" [alt]="persona.name" />
  <div class="accessibility">
    {{ persona.accessibility }}
  </div>
</div>
<div class="scrollable">
  <q class="quote">
    {{ persona.quote }}
  </q>
  <div class="description">
    {{ persona.description }}
  </div>

  <div class="hates">
    {{ persona.hates }}
  </div>

  <app-guideline-card
    *ngFor="let guideline of guidelines"
    [title]="guideline.title"
    [subtitle]="guideline.subtitle"
    [image]="guideline.image"
    [description]="guideline.description"
  >
  </app-guideline-card>
</div>
