<div class="wrapper">
  <div class="header">
    <div class="title">{{ persona.name }} - {{ persona.profession }}</div>
    <img src="assets/icons/download.png" alt="download" />
  </div>
  <img src="{{ persona.image }}" [alt]="persona.name" />
  <div class="accessibility">
    {{ persona.disability }}
  </div>
</div>
<div class="scrollable">
  <q class="quote">
    {{ persona.quote }}
  </q>
  <div class="description">
    {{ persona.biography }}
  </div>

  <div class="hates">
    {{ persona.frustration }}
  </div>

  <app-guideline-card
    *ngFor="let guideline of guidelines"
    [title]="guideline.name"
    [subtitle]="guideline.guidelineType"
    [image]="'assets/images/placeholder.jpg'"
    [description]="guideline.level"
  >
  </app-guideline-card>
</div>
