/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import "./assets/partials/variables";

html,
body {
  overflow: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.vis-network:focus {
  outline: none;
}

.ng-select {
  .ng-select-container {
    font-size: 1.15rem;
  }

  .ng-dropdown-panel {
    background-color: $gray-6;

    .ng-dropdown-panel-items {
      padding: 1rem;

      div {
        .ng-optgroup {
          color: $gray-3;
          padding: 0.5rem 0;
          border-top: thin solid rgba(0, 0, 0, 0.1);
        }

        .ng-option-child {
          margin-left: 1rem;
          padding: 0.25rem 0;
        }
      }
    }
  }
}
